.conversation_button_container {
  display: flex;
  position: absolute;
  bottom: 22%;
  left: 35%;
}

.conversation_icon {
  width: 25px;
  height: 25px;
  fill: #e6e5e8;
}

.conversation_button {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid #e6e5e8;
  text-decoration: none;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  box-shadow: none;
  border-image: none;
  border-style: none;
  border-width: 0px;
  outline: none;
  cursor: pointer;
}
