.login-page_button_container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page_button {
  border-radius: 50px;
  outline: none;
  border: 1px solid #e6e5e8;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 10px;
  width: 170px;
  transition: 0.3s;
  cursor: pointer;
}

.login-page_button:hover {
  background-color: #8706f0;
  opacity: 0.5;
}
