.direct_calling_dialog {
  position: absolute;
  width: 400px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.button_container {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #e6e5e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #e6e5e8;
}
