.login-page_input_container {
  width: 80%;
  display: flex;
  justify-content: center;
}

.login-page_input {
  width: 150px;
  border-radius: 50px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #e6e5e8;
  opacity: 0.4;
  text-align: center;
  font-size: 16px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #e6e5e8;
  opacity: 0.4;
  text-align: center;
  font-size: 16px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #e6e5e8;
  opacity: 0.4;
  text-align: center;
  font-size: 16px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #e6e5e8;
  opacity: 0.4;
  text-align: center;
  font-size: 16px;
}
